@import './utils.scss';
@import './media-queries.scss';
#navbar{
    background: $primary-color;
    
    .container{
        @include container;
        @include flex_column;
        flex-direction: row;
        justify-content: space-between;      
        height: 10vh;
        @include smartphone{
            height: 15vh;
        }
        .logo{
            color: black;
        }

        
       .section{
           @include smartphone{
                @include flex_column
                
            }
        a{
            @include btn-stlye;
            font-size: 12px;
            padding: 5px;
            margin: 5px;
            border: none;
            @include smartphone{

            }
                
            &:hover{
            @include btn-animation;
            border-radius: 5px;
            }
        }
        .current{
            background-color: $background-btn-color;
            color: white;
            border-radius: 5px;
        }
       }
        
    }
}